<configuration>
  <system.webServer>
	<httpProtocol>
     <customHeaders>
       <!--add name="Access-Control-Allow-Origin" value="*" />
	   <add name="Access-Control-Allow-Headers" value="Content-Type" /-->
     </customHeaders>
   </httpProtocol>
    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="api">
          <match url="api/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
		<rule name="v1">
          <match url="v1/*"   />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
